.success,
.danger {
  text-align: center;
  padding: 30px;
}

.success {
  background-color: rgba(63, 191, 63, 0.5);
  color: #fff;
}

.danger {
  background-color: rgba(191, 63, 63, 0.6);
  color: #fff;
}

form {
  button,
  input {
    border-color: purple;
    padding: 7px 0px;
    font-size: 16px;
    margin-top: 20px;
  }

  input {
    width: calc(100% - 19px);
    color: purple;
    padding-left: 15px;
  }

  button {
    width: 100%;
    background-color: purple;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: purple;
      cursor: pointer;
    }
  }
}