.nav {
  height: 60px;
  background-color: purple;

  ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      a {
        padding: 20px;
        font-size: 24px;
        color: #FFF;
        text-decoration: none;
      }
    }
  }
}